fastapi
uvicorn
requests
pika
pymongo
fastapi
uvicorn
fastapi
uvicorn
pymongo
pydantic
fastapi
uvicorn
pymongo
pydantic[email]
email-validator
fastapi
uvicorn
pydantic[email]
email-validator
pymongo
pika
