name: Deploy to Azure VM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Stop old containers
        run: |
          cd ~/COEN6313_Assignment_2
          docker compose down || true

      - name: Pull latest code
        run: |
          cd ~/COEN6313_Assignment_2
          git pull origin main

      - name: Rebuild and start containers
        run: |
          cd ~/COEN6313_Assignment_2
          docker compose up -d --build
